<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <add key="base-address" value="http://localhost:52888/" />
    <add key="filepath-pipe" value="D:\HomeWork\personfile-pipedelimited.txt" />
    <add key="filepath-comma" value="D:\HomeWork\personfile-commadelimited.txt" />
    <add key="filepath-space" value="D:\HomeWork\personfile-spacedelimited.txt" />


  </appSettings>

</configuration>